body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrat override*/
.navbar-inverse {
    background-color: #3f6e3b;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2a4927;
}

.navbar-brand {
    font-size: 28px;
}

body {
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    font-size: 17px;
    padding: 20px 17px;
    border-radius: 14px;
}

.btn {
    padding: 8px 28px;
    border-radius: 12px;
}

/*Page-level styles*/

.gigs{
    list-style:none;
}

.gigs > li {
    position:relative;
    margin-bottom:20px;
}

.gigs > li .details{
    position:absolute;
    top:0;
    left:70px;
}

